---
layout: default
---

<div class="page-content">
  <h1>
    {{ page.title }}
  </h1>

  <span class="post-date">
    {{ site.data.settings.post_date_prefix }}
    {{ page.date | date: "%-d" }}
    {% assign m = page.date | date: "%-m"  %}
    {% case m %}
      {% when '1' %}janvier
      {% when '2' %}février
      {% when '3' %}mars
      {% when '4' %}avril
      {% when '5' %}mai
      {% when '6' %}juin
      {% when '7' %}juillet
      {% when '8' %}août
      {% when '9' %}septembre
      {% when '10' %}octobre
      {% when '11' %}novembre
      {% when '12' %}décembre
    {% endcase %}
    {{ page.date | date: "%Y" }}
    par
    {% if page.author %}
      {{ page.author }}
    {% else %}
      {{ site.author }}
    {% endif %}
  </span>

  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
  {% endif %}

  <article>
    {{ content }}
  </article>

  {% if page.categories contains "misc" %}
  <!-- Don't show any 'related posts' here since miscellaneous means they are not related...-->
  {% else %}
    <div class="related">
      <div>{{ site.data.settings.related_posts }}</div>
      {% assign listed_posts_urls = page.url | split: ' ' %}
      <ul class="related-posts">
        {% for tag in page.tags %}
          {% for mypost in site.tags[tag] limit:2 %}
            {% if listed_posts_urls contains mypost.url %}
            {% else %}
              <li>
                <small>{{ mypost.date | date: "%B %-d, %Y" }}</small>
                <h3>                           
                  <a href="{{ site.github.url }}{{ mypost.url }}">
                    <div>
                      {{ mypost.title }}
                    </div>
                  </a>
                </h3>
              </li>
              {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}    

  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}

</div>
